# Core functionality - changes here should be rare!
/src/app.py                   @sudipkarma341
/src/backend/database.py      @sudipkarma341
/src/backend/routers/auth.py  @sudipkarma341

# The frontend will need refactored soon to be more object oriented.
/src/static/   @sudipkarma341
